<font color=blue><h1 align=center> Python Data Types </h1> </font>

  ***

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

There are various data types in Python. Some of the important types are listed below.

## Python Numbers

Integers, floating point numbers and complex numbers fall under Python numbers category. They are defined as int, float and complex classes in Python.

We can use the type() function to know which class a variable or a value belongs to. Similarly, the isinstance() function is used to check if an object belongs to a particular class.

In [ ]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

 <br>

Integers can be of any length, it is only limited by the memory available.

A floating-point number is accurate up to 15 decimal places. Integer and floating points are separated by decimal points. 1 is an integer, 1.0 is a floating-point number.

Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part. Here are some examples.

In [ ]:
a = 1234567890123456789
print("a =", a)
b = 0.1234567890123456789
print("b =", b)
c = 1+2j
print("c =", c)

###### Notice that the float variable b got truncated.

<br>

## Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].

In [ ]:
a = [1, 2.2, 'python', 'eddy']
print(a)

We can use the slicing operator [ ] to extract an item or a range of items from a list. The index starts from 0 in Python.

In [ ]:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

###### Lists are mutable, meaning, the value of elements of a list can be altered.

In [ ]:
a = [1, 2, 3]
print(a)
a[2] = 4
print(a)

<br>

## Python Tuple

Tuple is an ordered sequence of items same as a list. The only difference is that tuples are immutable. Tuples once created cannot be modified.

Tuples are used to write-protect data and are usually faster than lists as they cannot change dynamically.

It is defined within parentheses () where items are separated by commas

In [1]:
t = (5,'eddygrant', 12.5)
print(t)

(5, 'eddygrant', 12.5)

In [12]:
t[1]

'eddygrant'

In [13]:
t[-2]

'eddygrant'

In [3]:
type(t)

tuple

In [4]:
t.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [6]:
data1 = [10, 20, 30]
data2 = (10, 20, 30)

In [7]:
print(type(data1))
print(type(data2))

<class 'list'>
<class 'tuple'>

In [8]:
from sys import getsizeof

In [9]:
print(getsizeof(data1))
print(getsizeof(data2))

80
64

In [10]:
data2

(10, 20, 30)

In [11]:
data2[-2]

20

We can use the slicing operator [] to extract items but we cannot change its value.

In [ ]:
t = (5,'eddygrant', 12.5)

# t[1] = 'eddygrant'
print("t[1] = ", t[1])

# t[0:3] = (5, 'eddygrant', 12.5)
print("t[0:3] = ", t[0:3])

# Generates error
# Tuples are immutable
t[0] = 10

<br>

## Python Strings

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """.

In [ ]:
s = "This is a string"
print(s)
s = '''A multiline
string'''
print(s)

 - Just like a list and tuple, the slicing operator [ ] can be used with strings. Strings, however, are immutable.

In [ ]:
s = 'Hello world!'

# s[4] = 'o'
print("s[4] = ", s[4])

# s[6:11] = 'world'
print("s[6:11] = ", s[6:11])

# Generates error
# Strings are immutable in Python
s[5] ='d'

<br>

## Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [14]:
data = {10, 20 , 1, 20, 10, 1, 3,4}

In [19]:
xyz = {1, 2, 3, 4, 5}

In [20]:
data.union(xyz)

{1, 2, 3, 4, 5, 10, 20}

In [21]:
data.intersection(xyz)

{1, 3, 4}

In [15]:
type(data)

set

In [16]:
print(data)

{1, 3, 4, 10, 20}

In [ ]:
a = {5,2,3,1,4}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

We can perform set operations like union, intersection on two sets. Sets have unique values. They eliminate duplicates.

In [ ]:
a = {1,2,2,3,3,3}
print(a)

Since, set are unordered collection, indexing has no meaning. Hence, the slicing operator [] does not work.

In [ ]:
a = {1,2,3}
print(a[1])

<br>

## Python Dictionary

Dictionary is an unordered collection of key-value pairs.

It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [22]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [23]:
candidates = {'names':"Sachin", 'course': "Python", "age": 22}

In [24]:
type(candidates)

dict

In [25]:
candidates["names"]

'Sachin'

In [26]:
candidates['age']

22

In [28]:
candidates['name2']

KeyError: 'name2'

In [27]:
candidates.get('course')

'Python'

In [31]:
candidates.get('names', 'Key is not present')

'Sachin'

In [32]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

We use key to retrieve the respective value. But not the other way around.

In [33]:
d = {1:'value','key':2}
print(type(d))

print("d[1] = ", d[1]);

print("d['key'] = ", d['key']);

# Generates error
print("d[2] = ", d[2]);

<class 'dict'>
d[1] =  value
d['key'] =  2

KeyError: 2

In [34]:
candidates = {'names':"Sachin", 'course': "Python", "age": 22}

In [35]:
candidates.keys()

dict_keys(['names', 'course', 'age'])

In [36]:
candidates.values()

dict_values(['Sachin', 'Python', 22])

In [38]:
candidates['name2'] = 'Eddy Grant'

In [39]:
candidates

{'names': 'Sachin', 'course': 'Python', 'age': 22, 'name2': 'Eddy Grant'}

In [40]:
candidates

{'names': 'Sachin', 'course': 'Python', 'age': 22, 'name2': 'Eddy Grant'}

In [41]:
candidates['names'] = 'Anjali'

In [42]:
candidates

{'names': 'Anjali', 'course': 'Python', 'age': 22, 'name2': 'Eddy Grant'}

In [43]:
candidates

{'names': 'Anjali', 'course': 'Python', 'age': 22, 'name2': 'Eddy Grant'}

In [44]:
candidates.pop('course')

'Python'

In [45]:
candidates

{'names': 'Anjali', 'age': 22, 'name2': 'Eddy Grant'}

In [46]:
candidates

{'names': 'Anjali', 'age': 22, 'name2': 'Eddy Grant'}

In [47]:
data = candidates

In [48]:
data

{'names': 'Anjali', 'age': 22, 'name2': 'Eddy Grant'}

In [49]:
candidates

{'names': 'Anjali', 'age': 22, 'name2': 'Eddy Grant'}

In [50]:
data.pop('name2')

'Eddy Grant'

In [51]:
data

{'names': 'Anjali', 'age': 22}

In [53]:
candidates.pop('age')

22

In [54]:
candidates

{'names': 'Anjali'}

In [55]:
data

{'names': 'Anjali'}

In [56]:
id(candidates)

140266344496896

In [57]:
id(data)

140266344496896

In [58]:
candidates

{'names': 'Anjali'}

In [59]:
xyz = candidates.copy()

In [60]:
id(xyz)

140266345216064

In [61]:
id(candidates)

140266344496896

In [62]:
xyz['names'] = 'Sachin'

In [63]:
xyz

{'names': 'Sachin'}

In [64]:
xyz['age'] = 22

In [65]:
xyz

{'names': 'Sachin', 'age': 22}

In [66]:
candidates

{'names': 'Anjali'}

# Nested dict

In [67]:
data = {
    'name': 'sachin', 
    'age': 22,
    'email': 'eddygrant000@gmai.com',
}

In [78]:
data = {
    'names': ['sachin', 'ajay', 'abhilash', 'abhinav'],
    'age': [21, 22, 34, 12],
}

In [71]:
data

{'names': ['sachin', 'ajay', 'abhilash', 'abhinav'], 'age': [21, 22, 34, 12]}

In [74]:
data['names'][1].upper()

'AJAY'

In [79]:
data['age'][2]

34

In [80]:
data

{'names': ['sachin', 'ajay', 'abhilash', 'abhinav'], 'age': [21, 22, 34, 12]}

In [81]:
# X data['names'] = "Eddy"

In [83]:
data['names'].append('Eddy')

In [84]:
data

{'names': ['sachin', 'ajay', 'abhilash', 'abhinav', 'Eddy'],
 'age': [21, 22, 34, 12]}

In [85]:
data['age'].append(49)

In [86]:
data

{'names': ['sachin', 'ajay', 'abhilash', 'abhinav', 'Eddy'],
 'age': [21, 22, 34, 12, 49]}

In [87]:
data['names'][0] = 'SACHIN'

In [88]:
data

{'names': ['SACHIN', 'ajay', 'abhilash', 'abhinav', 'Eddy'],
 'age': [21, 22, 34, 12, 49]}

In [77]:
data

{'names': 'Eddy', 'age': [21, 22, 34, 12]}

In [91]:
print(data['names'][2], data['age'][2])

abhilash 34

In [93]:
database = {
    1001:{
        'name': 'Sachin',
        'age': 22,
        'email': 'eddygrant000@gmail.com'
    },
    1002:{
        'name': 'Tanuj',
        'age': 25,
        'email': 'tanuj@gmail.com'
    }
}

In [101]:
print(database[1002]['name'])
print(database.get(1002).get('age'))

Tanuj
25

In [94]:
print(database)

{1001: {'name': 'Sachin', 'age': 22, 'email': 'eddygrant000@gmail.com'}, 1002: {'name': 'Tanuj', 'age': 25, 'email': 'tanuj@gmail.com'}}

In [95]:
database.keys()

dict_keys([1001, 1002])

In [97]:
database.values()

dict_values([{'name': 'Sachin', 'age': 22, 'email': 'eddygrant000@gmail.com'}, {'name': 'Tanuj', 'age': 25, 'email': 'tanuj@gmail.com'}])

In [ ]:
print()

<font color=red> <h2> Conversion between data types</h2></font>

We can convert between different data types by using different type conversion functions like int(), float(), str(), etc.

In [ ]:
float(5)

Conversion from float to int will truncate the value (make it closer to zero).

In [ ]:
print(int(10.6))
print(int(-10.6))

Conversion to and from string must contain compatible values.

In [ ]:
float('2.5')

In [ ]:
str(25)

In [ ]:
int('1p')

###### We can even convert one sequence to another.

In [104]:
set([1,2,3])

{1, 2, 3}

In [105]:
tuple({5,6,7})

(5, 6, 7)

In [106]:
list('hello')

['h', 'e', 'l', 'l', 'o']

###### To convert to dictionary, each element must be a pair:

In [102]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [103]:
dict([(3,26),(4,44)])

{3: 26, 4: 44}

<br>

### Type Conversion

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

 - Implicit Type Conversion
 - Explicit Type Conversion

#### Implicit Type Conversion

In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

Let's see an example where Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.

###### Example 1: Converting integer to float

In [ ]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

In the above program,

 - We add two variables num_int and num_flo, storing the value in num_new.
 - We will look at the data type of all three objects respectively.
 - In the output, we can see the data type of num_int is an integer while the data type of num_flo is a float.
 - Also, we can see the num_new has a float data type because Python always converts smaller data types to larger data types to avoid the loss of data.

###### Example 2: Addition of string(higher) data type and integer(lower) datatype

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

###### In the above program,

  -  We add two variables num_int and num_str.
  -  As we can see from the output, we got TypeError. Python is not able to use Implicit Conversion in such conditions.
  -  However, Python has a solution for these types of situations which is known as Explicit Conversion.

#### Explicit Type Conversion

In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.

This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.

Syntax :

In [ ]:
# <required_datatype>(expression)

Typecasting can be done by assigning the required data type function to the expression.

###### Example 3: Addition of string and integer using explicit conversion

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

###### In the above program,

  -  We add num_str and num_int variable.
  -  We converted num_str from string(higher) to integer(lower) type using int() function to perform the addition.
  -  After converting num_str to an integer value, Python is able to add these two variables.
  -  We got the num_sum value and data type to be an integer.

<font color=red> <h6> Key Points to Remember </h6></font>

 - Type Conversion is the conversion of object from one data type to another data type.
 - Implicit Type Conversion is automatically performed by the Python interpreter.
 - Python avoids the loss of data in Implicit Type Conversion.
 - Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user.
 - In Type Casting, loss of data may occur as we enforce the object to a specific data type.